button{
  cursor: pointer;
}
.cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
  gap: 30px;
  .card {
    position: relative;
    border: 1px solid gainsboro;
    width: 300px;
    border-radius: 6px;
    padding: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .add {
      margin-bottom: 10px;
      padding: 5px 10px;
 
    }
    img {
      width: 200px;
      height: 200px;
      padding: 20px 0 20px 40px;
    }
    h3 {
      color: rgb(125, 167, 222);
      text-align: center;
    }
    .button {
      position: absolute;
      top: 20px;
      right: 20px;
      color: black;

      .fa-heart,
      .fa-circle-xmark {
        transition: all 600ms;
        &:hover {
          color: orange;
        }
      }
      &.active {
        .fa-heart {
          color: orange;
        }
      }
    }
  }
}
